@media (max-width: 768px) {
  main {
    max-width: 100%;
    padding: 1rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .editor-main-container {
    overflow-x: hidden;
  }

  .flex {
    width: 200%;
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  #edit,
  #view {
    width: 50%;
  }

  .flex.show-preview {
    transform: translateX(-50%);
  }

  .view-toggle {
    display: grid;
  }

  .static-page-container {
    padding: 1.5rem;
    margin: 1rem auto;
  }

  .packages-list {
    columns: 1;
    -webkit-columns: 1;
  }

  .static-page-container h1 {
    font-size: 1.8rem;
  }
  .static-page-container h2 {
    font-size: 1.3rem;
  }
}
