*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--base-font-family);
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  padding-bottom: 70px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: var(--primary-hover-color);
}

ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
}
